@font-face {
font-family: 'ITC Avant Garde Std Bk-EFVqoG5Y';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/94272e78-e922-4ccd-954c-2d1972c9bdd9/itc-itcavantgardestd-demi.woff') format('woff');
}