@font-face {
font-family: 'ITC Avant Garde Std Bk-y4IYhiFJ';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/ec216a08-3936-4533-bd1d-909774810dac/itc-itcavantgardestd-bk.woff') format('woff');
}